html, body { height: 100%; margin: 0; padding: 0; }
body { font-family: sans-serif; -moz-hyphens: auto; -webkit-hyphens: auto; adobe-hyphenate: auto; hyphens: auto; }
#table { position: fixed; right: 40rem; top: 1em; bottom: 0; overflow: auto; }
table.sortable thead  div {position: fixed; top: 0;}
table.sortable thead  div:before{ content:'▼'}
table.sortable thead  div:after{ content:'▲'}
table.sortable tbody { padding-top: 2em;}
td.date { white-space: nowrap; }
#main { width: 40rem; margin-left: auto; margin-right: 0; }
article h1 { margin: 0; color: #000080; font-weight: normal; }
table.sortable { font-size: 12px; }
th.sort { cursor: pointer; }
article p { text-align: justify}
article { padding: 1em; margin-bottom: 1em; border-bottom: 1px solid #CCCCCC; }